{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Voici les articles de nos éditeurs !</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        <strong> {{ article.prix }}&euro; </strong>
                    </div>
                    <a href= "{{ path('article_show', {'id' : article.id}) }}">              
                    <img src="{{ article.image }}" alt="Image de l'article"
                    style="height: 200px; width: 100%; display: block" >
                    </a>
                    <div class="card-body">
                    <h4 class="card-title">
                    <a href="{{ path('article_show', {'id' : article.id}) }}"></a>
                        {{ article.libelle }}
                    </h4>
                    <p class="card-text">
                        {{ article.description }}
                    </p>
                    <a href="{{ path('article_show', {'id' : article.id}) }}" class="btn btn-primary">En savoir plus</a>
                    </div>  
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
